Scavenge/Source/Packages/
Scavenge/Plugins/*
!Scavenge/Plugins/GamePlugin.core.dll
!Scavenge/Plugins/GamePlugin.core.pdb
!Scavenge/Plugins/GamePlugin.core.xml
!Scavenge/Plugins/EditorPlugin.editor.dll
!Scavenge/Plugins/EditorPlugin.editor.pdb
!Scavenge/Plugins/EditorPlugin.editor.xml
Scavenge/NVorbis.dll
Scavenge/OpenTK.GLControl.dll
Scavenge/OpenTK.GLControl.xml
Scavenge/OpenTK.dll
Scavenge/OpenTK.dll.config
Scavenge/OpenTK.pdb
Scavenge/OpenTK.xml
Scavenge/FarseerDuality.xml
Scavenge/FarseerDuality.pdb
Scavenge/Microsoft.Web.XmlTransform.dll
Scavenge/NVorbis.XML
Scavenge/FarseerDuality.dll
Scavenge/EditorUserData.xml
Scavenge/PopupControl.dll
Scavenge/PopupControl.pdb
Scavenge/DualityUpdater.exe
Scavenge/DualityPrimitives.pdb
Scavenge/WeifenLuo.WinFormsUI.Docking.dll
Scavenge/WeifenLuo.WinFormsUI.Docking.pdb
Scavenge/logfile.txt
Scavenge/logfile_editor.txt
Scavenge/logfile_editor_prev.txt
Scavenge/perflog.txt
Scavenge/Aga.Controls.dll
Scavenge/Aga.Controls.pdb
Scavenge/Duality.pdb
Scavenge/Duality.xml
Scavenge/AdamsLair.WinForms.pdb
Scavenge/AdamsLair.WinForms.xml
Scavenge/perflog_editor.txt
Scavenge/DDoc.chm
Scavenge/DesignTimeData.dat
!Scavenge/DualityEditor.exe
Scavenge/DualityEditor.pdb
Scavenge/DualityEditor.xml
Scavenge/DualityLauncher.exe
Scavenge/DualityLauncher.exe.config
Scavenge/DualityLauncher.pdb
Scavenge/DualityPrimitives.XML
Scavenge/AdamsLair.WinForms.dll
Scavenge/Source/Code/CorePlugin/bin/
Scavenge/Source/Code/CorePlugin/obj/
Scavenge/Source/Code/CorePlugin/GamePlugin.core.xml
Scavenge/Source/Code/EditorPlugin/bin/
Scavenge/Source/Code/EditorPlugin/obj/
Scavenge/Source/Code/EditorPlugin/GamePlugin.core.xml
Scavenge/Source/Code/ProjectPlugins.v12.suo
Scavenge/Source/Code/packages/
Scavenge/Temp/
Publish/
Scavenge/Backup/
